appdirs==1.4.2
backports.ssl-match-hostname==3.5.0.1
cffi==1.9.1
cryptography==1.7.2
enum34==1.1.6
gspread==0.6.2
httplib2==0.10.3
idna==2.4
ipaddress==1.0.18
oauth2client==4.0.0
packaging==16.8
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
pyOpenSSL==16.2.0
pyparsing==2.1.10
requests==2.13.0
rsa==3.4.2
six==1.10.0
slackclient==1.0.5
websocket-client==0.40.0
